@font-face {
  font-family: 'Museo-500';
  src: url('../fonts/2f0a15_0_0.eot');
  src: url('../fonts/2f0a15_0_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/2f0a15_0_0.woff2') format('woff2'),
  url('../fonts/2f0a15_0_0.woff') format('woff'),
  url('../fonts/2f0a15_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'sansationbold';
  src: url('../fonts/sansation-bold-webfont.eot');
  src: url('../fonts/sansation-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sansation-bold-webfont.woff2') format('woff2'), url('../fonts/sansation-bold-webfont.woff') format('woff'), url('../fonts/sansation-bold-webfont.ttf') format('truetype'), url('../fonts/sansation-bold-webfont.svg#sansationbold') format('svg');
  font-weight: normal;
  font-style: normal;
}