
@IconColor: #3A424D;
@IconColor2: rgb(58, 66, 77);
@BackgroundColorRed:#e33348;

body {
  background-color: #ededed;
}

html {
  font-size: 62.5%;
}

.carousel-inner {
  margin-top: 4.0rem;
  margin-bottom: 5.0rem;
}
.carousel {
  margin-top: 5.0rem;
}

.web, .active .web, .shop, .active .shop, .audit, .active .audit, .marketing,  .active .marketing   {
  background-size: 150px 150px ;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.web{
  background-image: url(../img/web.png);
}

.active .web {
  background-image: url(../img/web-dark.png);
}

.shop  {
  background-image: url(../img/shop.png);
}

 .active .shop{
  background-image: url(../img/shop-dark.png);
}

.audit {
  background-image: url(../img/audit.png);
}

.active .audit{
  background-image: url(../img/shop-dark.png);

}

.marketing {
  background-image: url(../img/marketing.png);
}

 .active .marketing {
  background-image: url(../img/marketing-dark.png);
}


#BackgroundAbout, #BackgroundContact {
  background-color: @BackgroundColorRed;
  p {
    color: #756e75;
  }

}

.icon {
  color: white;
  font-size: 10rem;
  line-height: auto;
}

.quality {
  text-align: center;
  p {
    text-align: justify;
  }
}

.iconQuality {
  background: @IconColor2;
  text-align: center;
  display: inline-block;
  width: 150px;
  height: 150px;
  padding: 1.6rem;
  margin-top: 20px;
  margin-bottom: 35px;
  -webkit-border-radius: 150px 150px 150px 150px;
  border-radius: 150px 150px 150px 150px;
}

