
body {
  background-color: #ededed;
}

html {
  font-size: 62.5%;
}

.carousel-inner {
  margin-top: 4.0rem;
  margin-bottom: 5.0rem;
}
.carousel {
  margin-top: 5.0rem;
}

.web, .active .web, .shop, .active .shop, .audit, .active .audit, .marketing,  .active .marketing   {
  background-size: 150px 150px ;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.web{
  background-image: url(../img/web.png);
}

.active .web {
  background-image: url(../img/web-dark.png);
}

.shop  {
  background-image: url(../img/shop.png);
}

 .active .shop{
  background-image: url(../img/shop-dark.png);
}

.audit {
  background-image: url(../img/audit.png);
}

.active .audit{
  background-image: url(../img/shop-dark.png);

}

.marketing {
  background-image: url(../img/marketing.png);
}

 .active .marketing {
  background-image: url(../img/marketing-dark.png);
}


#BackgroundAbout {
  background-color: #e33348;
}
